.mstheme{
nav-banner-image:url(aclabanr.gif);
separator-image:url(aclarule.gif);
list-image-1:url(aclabul1.gif);
list-image-2:url(aclabul2.gif);
list-image-3:url(aclabul3.gif);
navbutton-horiz-pushed:url(aclahsel.gif);
navbutton-horiz-normal:url(aclahbtn.gif);
navbutton-horiz-hovered:url(aclahhov.gif);
navbutton-vert-pushed:url(aclavsel.gif);
navbutton-vert-normal:url(aclavbtn.gif);
navbutton-vert-hovered:url(aclavhov.gif);
navbutton-home-normal:url(aclahom.gif);
navbutton-home-hovered:url(aclahomh.gif);
navbutton-up-normal:url(aclaup.gif);
navbutton-up-hovered:url(aclauph.gif);
navbutton-prev-normal:url(aclabck.gif);
navbutton-prev-hovered:url(aclabckh.gif);
navbutton-next-normal:url(aclanxt.gif);
navbutton-next-hovered:url(aclanxth.gif);
}
UL{
list-style-image:url(aclabul1.gif);
}
UL UL{
list-style-image:url(aclabul2.gif);
}
UL UL UL{
list-style-image:url(aclabul3.gif);
}
.mstheme-bannertxt{
font-family:"Book Antiqua","Times New Roman",Times;
font-size:5;
color:#FFFFFF;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
