.mstheme{
nav-banner-image:url(clabanr.gif);
separator-image:url(clarule.gif);
list-image-1:url(clabul1.gif);
list-image-2:url(clabul2.gif);
list-image-3:url(clabul3.gif);
navbutton-horiz-pushed:url(clahsel.gif);
navbutton-horiz-normal:url(clahbtn.gif);
navbutton-vert-pushed:url(clavsel.gif);
navbutton-vert-normal:url(clavbtn.gif);
navbutton-home-normal:url(clahom.gif);
navbutton-up-normal:url(claup.gif);
navbutton-prev-normal:url(clabck.gif);
navbutton-next-normal:url(clanxt.gif);
}
UL{
list-style-image:url(clabul1.gif);
}
UL UL{
list-style-image:url(clabul2.gif);
}
UL UL UL{
list-style-image:url(clabul3.gif);
}
.mstheme-bannertxt{
font-family:"Book Antiqua","Times New Roman",Times;
font-size:5;
color:#FFFFFF;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
